

<div class="row">
  
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>My name is Deven Clingman and I enjoy long walks on the beach and puppies... But that's not why you're here. You're here because you want a webiste built. I assure you that I would be able to provide you with website you need to improve your business.</p>
  </div>
</div>
<p>Find me in app/views/pages/about.html.erb</p>
